button {
  background: $base-color;
  color: $accent-color;
  border: 1px solid $accent-color;
  border-radius: 2px;
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: all 0.3s ease;
  &:active, &:hover {
    background-color: $base-color;
    color: $text-color;
    box-shadow: 0 0 0.8em $accent-color;
  }
}

button[disabled] {
  color: lighten($text-color, 50);
  background-color: darken($base-color, 5);
  border-color: lighten($text-color, 50);
  &:active, &:hover, &:focus {
    color: none;
    border-color: none;
    box-shadow: none;
    cursor: auto;
  }
}
