.post {
  border: 1px solid $dark-base-color;
  a {
    text-decoration: none;
    color: darken($accent-color, 10);
  }
  p {
    max-height: 32vh;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
}

ul {
  list-style-type: none;
}

.postDetail, .post {
  display: flex;
  background-color: $light-base-color;
  padding: 4vh 2vw;
  border-radius: 4px;
  margin: 2vh 0;
  .sort {
    background-color: $light-base-color;
    select {
      background-color: $light-base-color;
    }
  }
  .postHeader, .commentHeader {
    font-size: var(--base-small-font-size);
    color: $text-color-light;
  }
  h1 {
    line-height: 0;
  }
}

.postDetail, .comment {
  .buttonGroup {
    margin: 1em 0 2em;
    button{
      margin-right: 0.5em;
    }
  }
}

.comment {
  display: flex;
  margin: 2em 0;
}

h1 {
  color: darken($accent-color, 10);
}

.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}
